body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

body button {
  width: max-content;
}

body li {
  display: inline;
}

.completed_todo_item {
  text-decoration: line-through solid 2px red;
}

.todo_list {
  display: flex;
  flex-direction: column;
}

